PORT=3000
NODE_ENV=development
CORS_ORIGIN=*

MANGADEX_ENABLED=true
INMANGA_ENABLED=false
LEERMANGA_ENABLED=false
TUMANGAONLINE_ENABLED=false
COMICK_ENABLED=true
MANGA_SCRAPER_ENABLED=false
MANGPI_ENABLED=false

MYMANGAONLINE_PROVIDER_ENABLED=true
INMANGA_PROVIDER_ENABLED=true
LEERMANGA_PROVIDER_ENABLED=true
TUMANGAONLINE_PROVIDER_ENABLED=true

MANGADEX_BASE_URL=https://api.mangadex.org
COMICK_BASE_URL=https://comick.live
COMICK_IMAGE_BASE_URL=https://meo.comick.pictures
MYMANGAONLINE_BASE_URL=https://mymangaonline.net
INMANGA_BASE_URL=https://inmanga.com
LEERMANGA_BASE_URL=https://leermanga.net
TUMANGAONLINE_BASE_URL=https://lectortmo.vip

REQUEST_TIMEOUT_MS=15000
SCRAPER_REQUEST_DELAY_MS=350
QUERY_CACHE_TTL_MS=120000
QUERY_CACHE_MAX_ENTRIES=500

TRANSLATION_ENABLED=true
TRANSLATION_API_URL=https://api.mymemory.translated.net/get
TRANSLATION_CACHE_TTL_MS=86400000

MANGADEX_DEFAULT_LANGUAGE=es
DEFAULT_CHAPTER_QUALITY=data
