PORT=3000
NODE_ENV=development
CORS_ORIGIN=*

MANGADEX_ENABLED=true
INMANGA_ENABLED=false
LEERMANGA_ENABLED=false
TUMANGAONLINE_ENABLED=false
COMICK_ENABLED=true
MANGA_SCRAPER_ENABLED=false
MANGPI_ENABLED=false

MANGADEX_BASE_URL=https://api.mangadex.org
COMICK_BASE_URL=https://comick.live
COMICK_IMAGE_BASE_URL=https://meo.comick.pictures

REQUEST_TIMEOUT_MS=15000

MANGADEX_DEFAULT_LANGUAGE=es
DEFAULT_CHAPTER_QUALITY=data
